<!DOCTYPE html>
<html lang="en">

<head>
    <title>Address</title>
    {{> head_links}}
</head>

<body id="main">
    {{> header}}

    <div class="container mb-5 pb-5">
        <div class="rounded bg-white p-3 ">
            <div class="pb-3">
                <h4 class="font-weight-bold"> Address Detail </h4>
            </div>
            <div class="ml-5">
                {{#each Address}}
                    {{#each order}}
                        {{#each Address}}
                            <div class="mb-3 border p-3 rounded">
                                <h6> <span class="font-weight-bold"> Name: </span> {{Name}} </h6>
                                <h6> <span class="font-weight-bold"> Phone Number: </span> {{contact_no}} </h6>
                                <h6> {{house_no}}, {{Area}}, {{city}}, {{state}}, 
                                    <span class="font-weight-bold"> 
                                        {{pincode}} 
                                    </span> 
                                </h6>
                                <span class="address_update show-login" id="show-login"> <i class="fa-solid fa-pen-to-square"></i> </span>
                            </div>
                        {{/each}}
                    {{/each}}
                {{/each}}
            </div>
            <div id="loginpopup" class="popup">
                <div class="popup-content">
                    <form method="POST" class="ml-5 border rounded">
                        <div class="col mt-3">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">First name</label>
                                    <input type="text" class="form-control" id="validationCustom01" name="firstName"
                                        placeholder="First name" required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Last name</label>
                                    <input type="text" class="form-control" id="validationCustom02" name="lastName" placeholder="Last name"
                                        required>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom08">Contact Number</label>
                                    <input type="tel" class="form-control" id="validationCustom08" name="contactNumber"
                                        placeholder="Contact Number" pattern="[0-9]{10}" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="validationCustom06">House / Flat No. & Locality</label>
                                    <input type="text" class="form-control" id="validationCustom06" name="houseNo" placeholder="1234 abc"
                                        required>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationCustom07">Area</label>
                                    <input type="text" class="form-control" id="validationCustom07" name="area" placeholder="Main St"
                                        required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom03">City</label>
                                    <input type="text" class="form-control" id="validationCustom03" name="city" placeholder="City" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom04">State</label>
                                    <input type="text" class="form-control" id="validationCustom04" name="state" placeholder="State"
                                        required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Pincode</label>
                                    <input type="text" class="form-control" id="validationCustom05" name="pincode" placeholder="Pincode"
                                        pattern="[0-9]{6}" required>
                                </div>
                            </div>
                            <button class="btn btn-success"> Update Address </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{> toast_subscribe}}
    {{> footer}}
</body>

</html>