<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Sellers</title>
    {{>head_links}}
</head>

<body>
    {{>header}}
    <main>
        <div class="container pb-5">
            <form action="/add-to-cart" method="post">
                <div class="row row-cols-1 row-cols-md-5">
                    {{#each Product }}
                    <div class="col p-2">
                        <div class="card">
                            <a href="/products/{{slug}}">
                                <img class="card-img-top mt-3 product_images" src="{{image}}" alt="{{title}}" height="180px">
                            </a>
                            <div class="card-body px-4 py-1">
                                <p class="card-title font-weight-bold"> {{ title }} </p>
                                <div class="star_rating_size ">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="text-success font-weight-bold"> {{price}} </p>
                                {{!-- <div>
                                    <div class="text-center">
                                        <button type="button" value="-" class="value_btn minus_btn"> - </button>
                                        <input disabled class="input_area mx-1 text-center input_val" value="0">
                                        <button type="button" value="+" class="value_btn mb-3 plus_btn"> + </button>
                                    </div>
                                    <input name="productId" type="hidden" value="{{this._id}}">
                                    <button type="submit" class="add_to_cart_toast add_to_cart_btn w-100 py-1 mb-2"> Add to cart </button>
                                    <button type="button" class="buy_now_btn w-100 py-1 mb-3"> Buy now </button>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </form>
        </div>
        <div class="container pb-5">
            <div class="pb-3">
                <h5 class="font-weight-bold"> Our Brands </h5>
            </div>
            <div class="mb-5">
                <div class="bg-white py-5">
                    <div class="row text-center">
                        <div class="col">
                            <img src="./Images/google_round_icon.png" alt="google" height="70px">
                        </div>
                        <div class="col">
                            <img src="./Images/apple_logo_icon.png" alt="Apple" height="70px">
                        </div>
                        <div class="col d-none d-md-block">
                            <img src="./Images/spotify_icon.png" alt="Spotify" height="70px">
                        </div>
                        <div class="col d-none d-md-block">
                            <img src="./Images/amazon_icon.png" alt="Amazon" height="70px">
                        </div>
                        <div class="col d-none d-md-block">
                            <img src="./Images/telegram_icon.png" alt="telegram" height="70px">
                        </div>
                        <div class="col d-none d-md-block">
                            <img src="./Images/bitcoin.png" alt="bitcoin" height="70px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>toast_subscribe}}
    </main>
    {{>footer}}
</body>
</html>