<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    {{>head_links}}
</head>
<body id="main"> 
    {{>header}}   
    <main class="mb-5 pb-2">
        <div class="container">
            {{>breadCrumbs}}
            {{#if Cart.Cart_products.length}}
            <table class="table table-hover table-borderless spacing-table bg-white">
                <thead class="p-5">
                    <tr>
                        <th scope="col" class="col-3"> Image </th>
                        <th scope="col" class="col-3"> Product Name </th>
                        <th scope="col" class="col-1"> Price </th>
                        <th scope="col" class="col-2"> Qty </th>
                        <th scope="col" class="col-1"> Sub Total </th>
                        <th scope="col" class="col-2"> Action </th>
                    </tr>
                </thead>
                <tbody id="cart-body">
                    {{#each Cart.Cart_products }}
                    <tr>
                        <td style="vertical-align: text-top;"><img src="{{ this.Product.image }}"style="height: 40px; width: 50px; object-fit: contain" alt="{{ this.Product.name }}"></td>
                        <td style="vertical-align: text-top;" name="title">{{ this.Product.title }}</td>
                        <td style="vertical-align: text-top;"> ₹ {{ this.Product.price }}</td>
                        <td style="vertical-align: text-top;" id="subQuantity">
                            <div class="d-flex">
                                <form action="/cart/decrement/{{this._id}}" method="post">
                                    <button type="submit" value="-" id="{{_id}}" class="value_btn minus_btn font-weight-bold"> - </button>
                                </form>
                                <input disabled type="text" name="quantity" value="{{ this.Quantity }}" id="quantity_{{this.Product._id}}" class="w-25 text-center mx-1">
                                <form action="/cart/increment/{{this._id}}" method="post">
                                    <button type="submit" value="+" id="{{_id}}" class="value_btn plus_btn font-weight-bold"> + </button>
                                </form>
                            </div>
                        </td>
                        <td style="vertical-align: text-top;" name="subTotal" id="subTotal"> {{ multiply this.Quantity this.Product.price }}</td>
                        <form action="/cart/remove/{{this._id}}" method="POST">
                            <td style="vertical-align: text-top;">
                                <button type="submit" id="{{this._id}}" class="remove_btn btn btn-outline-danger border-0"> Remove </button>
                            </td>
                        </form>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" style="vertical-align: middle;text-align:right;font-weight:bold">Total : ₹ <span id="grandTotal"></span> </td>
                        <td>
                            <a href="/cart/checkout" class="btn btn-outline-success border-0 "> Checkout </a>
                        </td>
                        <form action="/cart/clear/{{Cart._id}}" method="post">
                            <td>
                                <button type="submit" id="{{Cart._id}}" class="clear_cart_btn btn btn-outline-danger border-0 "> Clear Cart </button>
                            </td>
                        </form>
                    </tr>
                </tfoot>
            </table>
            {{else}}
            <div class="container mb-5 pb-5">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <figure class="error_img mx-auto">
                            <img class="img-fluid" src="../Images/Add to Cart.png" alt="error img" srcset="">
                            <a href="/" class="go_homepage" style="margin-left: 180px;">Start Shopping</a>
                        </figure>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </main>
    {{>toast_subscribe}}
    {{>footer}}
</body>
</html>