<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    {{> head_links_admin}}
</head>
<body>
    {{> header_admin}}
    <main>
        <div class="container">
            <table class="table table-hover table-borderless spacing-table w-100">
                <thead>
                    <tr>
                        <td class="h4" > Image </td>
                        <td class="h4"> Title </td>
                        <td class="h4"> Category Status </td>
                        {{!-- <td class="h4"> Edit </td> --}}
                        <td class="h4"> Delete </td>
                    </tr>
                </thead>
                <tbody>
                    {{#each categoryData}}
                    <tr>
                        <td>
                            <img class="" src="{{image}}" alt="{{image}}" style="height: 65px;width: 65px;object-fit: contain;">
                        </td>
                        <td class="align-middle">
                            <h5> {{name}} </h5>
                            <p class="text-secondary"> No. of Products in this category: <span id="total_product_qty_{{_id}}"
                                    class="font-weight-bold"> {{totalProducts}} </span> </p>
                        </td>
                        <td class="align-middle">
                            <label class="switch">
                                <input type="checkbox" class="category_toggle" data-category-id="{{_id}}" {{#if active}}checked{{/if}}>
                                <span class="slider"></span>
                            </label>
                        </td>
                        {{!-- <td class="align-middle">
                            <button id="show-category-{{_id}}" class="btn align-middle category_update show-category">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </td> --}}
                        <td class="align-middle">
                            <button class="btn">
                                <lord-icon src="https://cdn.lordicon.com/jmkrnisz.json" trigger="loop-on-hover" delay="100"
                                    colors="primary:#dc3545" state="hover-empty" style="width:30px;height:30px" type="submit"
                                    data-category-id="{{_id}}" id="{{this._id}}" class="category_remove_btn btn">
                                </lord-icon>
                            </button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#each Category}}
        <div id="category_{{_id}}" class="category-popup">
            <div class="category-content p-4 rounded bg-white">
                <form class="border rounded p-3">
                    <div class="form-group">
                        <label>Category name:</label>
                        <input type="text" id="category" name="name" required>
                    </div>
                    <div class="form-group">
                        <label>Upload Image</label>
                        <input type="file" id="categoryFile" name="image">
                    </div>
                    <button type="submit" class="update_Category_btn btn btn-success mb-3"> Update Category </button>
                </form>
                <p class="mt-3 p-3 w-25 success-message rounded" style="display:none;color: white;background-color: green;">
                    Category Added Successfully
                </p>
                <div>
                    <a href="javascript:void(0)" class="close-category" id="category_{{_id}}"> &times; </a>
                </div>
            </div>
        </div>
        {{/each}}
    </main>
</body>
</html>