<!DOCTYPE html>
<html lang="en">
<head>
    <title>Checkout</title>
    {{>head_links}}
</head>
<body>
    {{>header}}
    <main>
        <div class="container pb-5 mb-4">
            <div class="row bg-white rounded m-0">
                <div class="col-6">
                    <form class="mt-3">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">First name</label>
                                <input type="text" class="form-control" placeholder="First name" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom02">Last name</label>
                                <input type="text" class="form-control" placeholder="Last name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="validationCustom06">Address</label>
                            <input type="text" class="form-control" placeholder="1234 Main St" required>
                        </div>
                        <div class="form-group">
                            <label for="validationCustom10">Address 2</label>
                            <input type="text" class="form-control" placeholder="1234 Main St" required>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03">City</label>
                                <input type="text" class="form-control" placeholder="City" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom04">State</label>
                                <input type="text" class="form-control" placeholder="State" required>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom05">Zip</label>
                                <input type="text" class="form-control" placeholder="Zip" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6 mt-3">
                    <h2>Order Summary</h2>
                    <form action="/create-checkout-session" method="POST">
                        <table class="text-secondary ml-3 w-75">
                            {{#each Cart.Cart_products }}
                            <tr>
                                <td class="pb-2">
                                    <input type="hidden" name="Quantity" value="{{this.Quantity}}">
                                    <input type="hidden" name="amount" value="{{this.price}}">
                                    {{this.Quantity}}
                                </td>
                                <td class="pb-2">x</td>
                                <td class="text-left pb-2">
                                    <input type="hidden" name="itemName" value="{{this.Product.title}}">
                                    {{this.Product.title}}
                                </td>
                                <td class="pb-2 col-2 text-right">
                                    <input type="hidden" name="subTotal" value="{{multiply this.Quantity this.Product.price}}">
                                    {{ multiply this.Quantity this.Product.price }}
                                </td>
                            </tr>
                            {{/each}}
                            <tr>
                                <td colspan="4" class="pb-3" style="font-weight:bold; text-align: right;padding-right:15px">
                                    Total : ₹ <span id="checkoutTotal"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="font-weight:bold; text-align: right;padding-right:15px">
                                    <button class="btn btn-outline-primary" type="submit">Proceed to Pay</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    {{>toast_subscribe}}
    </main>
    {{>footer}}

    <script>
        // Get all the cells in the fourth column of the table
        var cells = document.querySelectorAll('table tr td:nth-child(4)');

        // Initialize the total variable
        var total = 0;

        // Loop through the cells and add up their values
        for (var i = 0; i < cells.length; i++) {
            total += parseInt(cells[i].textContent);
        }

        // Set the total value in the grandTotal element
        document.getElementById('checkoutTotal').textContent = total
        document.getElementById('cartTotal').textContent = total
    </script>
</body>
</html>