<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Orders</title>
    {{> head_links}}
</head>

<body>
    {{> header}}

    <div class="container mb-5 pb-5">
        <div class="row">
            {{#if orders.length}}
            <div class="col-md-12 col-12">
                <h3>My Orders</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="col-8">Order Placed on</th>
                        <th class="col-2">Quantity</th>
                        <th class="col-3">Item Name</th>
                        <th class="col-2">Amount</th>
                    </tr>
                </thead>
                {{#each orders}}
                    {{#each this.order}}
                        <tbody>
                            {{#each this.Quantity}}
                                <tr>
                                    <td>{{../ordered_on}}</td>
                                    <td>{{this}}</td>
                                    <td>{{lookup ../itemName @index}}</td>
                                    <td>{{lookup ../subTotal @index}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    {{/each}}
                {{/each}}
                {{else}}
                <div class="container mb-5 pb-5">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <figure class="error_img mx-auto">
                                <img class="img-fluid" src="../Images/Empty.png" alt="error img" srcset="">
                                <a href="/" class="go_homepage" style="margin-left: 180px;">Start Shopping</a>
                            </figure>
                        </div>
                    </div>
                </div>
                {{/if}}
            </table>
        </div>
    </div>

    {{> toast_subscribe}}
    {{> footer}}
</body>

</html>