<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Orders</title>
    {{> head_links}}
</head>

<body id="main">
    {{> header}}

    <div class="container mb-5 pb-5">
        {{>breadCrumbs}}
        <div class="row">
            {{#if orders.length}}
            <div class="col-md-12 col-12 bg-white p-3">
                <h3 class="font-weight-bold">My Orders</h3>
            </div>
            <table class="table table-hover table-borderless spacing-table bg-white">
                <thead>
                    <tr>
                        <th class="col-3 text-center">Order ID</th>
                        <th class="col-3 text-center">Order Placed on</th>
                        <th class="col-2 text-center">Quantity</th>
                        <th class="col-2 text-center">Amount</th>
                    </tr>
                </thead>
                {{#each orders}}
                    <tr>
                        <td class="text-center">{{Order_Id}}</td>
                        <td class="text-center">{{ordered_on}}</td>
                        <td class="text-center">{{Total_items}}</td>
                        <td class="text-center">{{Total_amount}}</td>
                        <td class="text-center"> 
                            <a href="/orders/{{Order_Id}}" class="font-weight-bold"> 
                                View Detail 
                            </a> 
                        </td>
                    </tr>
                {{/each}}
                {{else}}
                <div class="container mb-5 pb-5">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <figure class="error_img mx-auto">
                                <img class="img-fluid" src="../Images/Empty.png" alt="error img" srcset="">
                                <a href="/" class="go_homepage" style="margin-left: 180px;">Start Shopping</a>
                            </figure>
                        </div>
                    </div>
                </div>
                {{/if}}
            </table>
        </div>
    </div>

    {{> toast_subscribe}}
    {{> footer}}
</body>

</html>