<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product List</title>
    {{> head_links_admin}}
</head>
<body>
    {{> header_admin}}
    <main>
        <div class="container">
            {{> breadCrumbs_admin}}
            <h1 class="bg-white p-3 rounded mb-3">
                <a href="/admin/dashboard" class="my-auto text-decoration-none">
                    <i class="fa-solid fa-arrow-left text-dark"></i>
                </a>
                Products List
            </h1>
            <div class="bg-white">
                <table class="table table-hover table-borderless spacing-table">
                    <thead>
                        <tr>
                            <td class="h5"> Image </td>
                            <td class="h5"> Product Title </td>
                            <td class="h5"> Product Price </td>
                            <td class="h5"> New Product </td>
                            <td class="h5"> Flash Sale </td>
                            <td class="h5"> Top Rated </td>
                            <td class="h5"> Edit </td>
                            <td class="h5"> Delete </td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Products}}
                        <tr>
                            <td style="cursor: pointer;">
                                <img class="image-modal-trigger-product" src="{{image}}" alt="{{image}}" style="height: 65px;width: 65px;object-fit: contain;">
                            </td> 
                            <td class="align-middle"> {{title}} </td>
                            <td class="align-middle"> ₹{{price}} </td>
                            <td class="align-middle"> {{newProduct}} </td>
                            <td class="align-middle"> {{flashSale}} </td>
                            <td class="align-middle"> {{topRated}} </td>
                            <td id="show-product-{{_id}}" class="align-middle product_update show-product">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </td>
                            <td class="align-middle"> 
                                <lord-icon src="https://cdn.lordicon.com/jmkrnisz.json" trigger="loop-on-hover" delay="200" colors="primary:#dc3545" state="hover-empty" style="width:30px;height:30px" type="submit" id="{{this._id}}" class="product_remove_btn btn">
                            </lord-icon> </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{#each Products}}
                <div id="product_{{_id}}" class="product-popup">
                    <div class="product-content p-4 rounded bg-white">
                        <form class="border rounded p-3 row">
                            <div class="form-group col-md-6">
                                <div class="mb-3">
                                    <label>Product Name:</label> <br>
                                    <input type="text" id="product" name="title" class="input_width">
                            
                                    <label for="price" class="mt-3"> Product Price: </label> <br>
                                    <input type="number" name="price" class="input_width">
                                    <input type="hidden" name="slug">
                            
                                    <label class="mt-3">Product Description:</label> <br>
                                    <input type="text" id="product" name="title" class="input_width">
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-4">
                                <div class="row">
                                    <div class="mr-5">
                                        <label class="mx-1" for="newProduct"> New Arrival: </label> <br>
                                        <select name="newProduct" id="newProductOption" class="yes_no_btn mx-1">
                                            <option value="false"> No </option>
                                            <option value="true"> Yes </option>
                                        </select>
                                    </div>
                            
                                    <div class="mb-3">
                                        <label class="mx-1" for="flashSale"> Flash Sale: </label> <br>
                                        <select name="flashSale" id="flashSaleOption" class="yes_no_btn mx-1">
                                            <option value="false"> No </option>
                                            <option value="true"> Yes </option>
                                        </select>
                                    </div>
                            
                                    <div class="mr-5">
                                        <label class="mx-1">Product Category:</label> <br>
                                        <select name="productCategory" id="productCategory" class="yes_no_btn mx-1">
                                            {{#each ../Category}}
                                                <option value="{{_id}}" name="category"> {{name}} </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div>
                                        <label class="mx-1" for="topRated"> Top Rated: </label> <br>
                                        <select name="topRated" id="topRatedProduct" class="yes_no_btn mx-1">
                                            <option value="false"> No </option>
                                            <option value="true"> Yes </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mt-4 m-0">
                                    <label class="mb-2 pb-1">Upload Image:</label><br>
                                    <div class="d-flex">
                                        <input type="file" id="productFile_{{_id}}" name="image" onchange="previewImageProduct(event, '{{_id}}')">
                                        <img id="preview_{{_id}}" src="#" alt="Image Preview" style="display: none; position: absolute; max-width: 120px; max-height: 120px; top: 200px; left: 320px;">
                                        {{!-- <img src="../images/delete.png" id="removeImage_{{_id}}" class="rounded-circle"
                                            style="display: none; position: relative; left: 125px; width: 20px; object-fit: contain; cursor: pointer;" alt="" srcset=""> --}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success mb-3"> Add Product </button>
                            </div>
                        </form>
                        <p class="mt-3 p-3 w-25 success-message rounded" style="display:none;color: white;background-color: green;">
                            Product Updated Successfully 
                        </p>
                        <div>
                            <a href="javascript:void(0)" class="close-product" id="address_{{_id}}"> &times; </a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        {{!-- --------------------- Image Modal ------------------- --}}
        {{#each Products}}
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-0 py-2">
                            <h2> {{this.title}} </h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mb-4 mx-auto">
                        <img id="modalImage" src="" alt="Image" class="img-fluid"
                            style="max-height: 550px;object-fit: contain;">
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </main>

    <script>
        // Add event listener to image elements
        const imageModalTriggerElements = document.getElementsByClassName('image-modal-trigger-product');
        Array.from(imageModalTriggerElements).forEach(element => {
            element.addEventListener('click', function () {
                const imageUrl = this.getAttribute('src');
                const modalImageElement = document.getElementById('modalImage');
                modalImageElement.src = imageUrl;
                $('#imageModal').modal('show'); // Trigger the modal
            });
        });
    </script>
</body>
</html>