
<header>
    <div class="container-fluid bg-success text-white">
        <div class="d-none d-lg-block">
            <nav class="container" aria-label="">
                <div class="row py-2 font-weight-light">
                    <div class="col">
                        <div>
                            <i class="fa fa-phone"></i> Hotline: 123 456 789
                            <span> &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-sign-out"></i> Order status
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <img src="../Images/uk_flag.png" alt="UK flag" width="40px" height="14px"
                                class="ml-auto my-1 pr-3">
                            <span> English <i class="fa fa-angle-down"></i> &nbsp;
                                <span> | </span> &nbsp;
                                <span> USD <i class="fa fa-angle-down"></i> </span>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid bg-white px-0">
        <div class="container">
            <div class="row py-4">
                <div class="col mx-auto">
                    <a href="/"> <img src="../Images/Prime Food.png" width="130" alt="logo"> </a>
                </div>
                <div class="col-4 d-none d-lg-block">
                    <div class="input-group mt-2">
                        <input type="text" class="form-control rounded-0" placeholder="Search for products..."
                            aria-label="Search for products..." />
                        <div class="input-group-append">
                            <button class="btn btn-success px-4 font-weight-light rounded-0" type="button"> SEARCH
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-lg-block align-text-bottom">
                    <div class="my-3 font-weight-bold text-secondary text-right">
                        {{!-- <div class="show-login" id="show-login" style="cursor: pointer">
                            {{#if defaultRenderData.user}}
                                <form method="POST" action="/logout">
                                    Welcome, {{defaultRenderData.user.username}}
                                    <button type="submit" class="btn btn-outline-danger">Logout</button> &nbsp;&nbsp;
                                    <a href="/cart" class="text-secondary"> 
                                        <i class="fa fa-shopping-cart"></i>
                                        Cart <sup class="bg-success text-white px-1 rounded-circle" id="total_cart_value"> 0 </sup>   
                                    </a>
                                </form>
                            {{else}}
                                <i class="fa fa-user-o"></i> Sign in / Register
                            {{/if}}
                        </div> --}}
                        <div class="show-login" id="show-login" style="cursor: pointer">
                            {{#if defaultRenderData.user}}
                            <form method="POST" action="/logout">
                                Welcome, {{defaultRenderData.user.username}}
                                <button type="submit" class="btn btn-outline-danger">Logout</button> &nbsp;&nbsp;
                                <a href="/cart" class="text-secondary">
                                    <i class="fa fa-shopping-cart"></i>
                                    Cart <sup class="bg-success text-white px-1 rounded-circle" id="total_cart_value"> 0 </sup>
                                </a>
                            </form>
                            {{else}}
                            <i class="fa fa-user-o"></i> Sign in / Register
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="col d-block d-md-none">
                    <div class="text-secondary font-weight-bold text-right mt-2 ml-auto" id="header_search_size">
                        <i class="fa fa-user-o mr-1"></i>
                        <i class="fa fa-shopping-cart mr-1"></i>
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>

        {{!-- for Mobile --}}
        <div class="container">
            <div class="d-block d-lg-none">
                <div class="collapse rounded-top" id="navbarToggleExternalContent">
                    <div class="nav flex-column">
                        <div class="bg-success text-white p-4">
                            <span class="nav-link font-weight-bold dropdown-toggle mr-4" href="#"> Home </span>
                            <span class="nav-link font-weight-bold dropdown-toggle mr-4" href="#"> Features </span>
                            <span class="nav-link font-weight-bold dropdown-toggle mr-4" href="#"> Fresh produce </span>
                            <span class="nav-link font-weight-bold dropdown-toggle mr-4" href="#"> Meat & Seafood
                            </span>
                            <span class="nav-link font-weight-bold dropdown-toggle mr-4" href="#"> Blog </span>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-success rounded-bottom" aria-label="">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>
            {{!-- for desktop --}}
            <div class="d-lg-flex justify-content-between d-none d-lg-block font-weight-bold">
                <a href="/"> Home </a>
                <a href="/best-sellers"> Best Sellers </a>
                <span> Fresh produce </span>
                <span> Meat & Seafood </span>
                <span> Dairy, Cheese & Eggs </span>
                <span> Blog </span>
                <span> About Us </span>
            </div>
        </div>
        <hr class="bg-success" id="first_hr_line">
        {{!-- {{#if showLoginModal}} --}}
            <div id="loginPopup" class="popup">
                <div class="popup-content rounded text-white">
                    <div class="container m-0">
                        <div class="row">
                            <div class="col-md-6 bg-success rounded mx-auto">
                                <div class="d-flex mb-3">
                                    <h3 class="mx-auto font-weight-bold mt-4"> Welcome Back </h3>
                                </div>
                    
                                    {{!-- for Login --}}
                                <form action="/login" method="post">
                                    <div id="showLogin" class="w-75 mx-auto">
                                        <div class="mb-3">
                                            <label for="Input_Email" class="form-label">Email address</label>
                                            <input type="email" name="email" class="form-control" id="Input_Email" placeholder="Enter your email..." aria-describedby="emailHelp" autocomplete="off" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Input_Password" class="form-label">Password</label>
                                            <input type="password" name="password" class="form-control" id="Input_Password" placeholder="Enter your password..." autocomplete="off" required>
                                        </div>
                                        <button type="submit" class="btn btn-light mb-3" style="width: 100%;">Login</button>
                                        <span class="btn showRegister rounded py-2 w-100"> Haven't sign up yet? Sign Up </span>
                                        <span>
                                            {{error}}
                                        </span>
                                    </div>
                                </form>
                    
                                    {{!-- for Sign Up --}}
                                <form action="/signUp" method="post">
                                    <div id="showRegister" class="w-75 mx-auto">
                                        <div class="mb-3">
                                            <label for="Input_username" class="form-label"> Username </label>
                                            <input type="text" name="username" class="form-control" id="Input_username" autocomplete="off" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Input_Email" class="form-label">Email address</label>
                                            <input type="email" name="email" class="form-control" id="Input_Email"
                                                aria-describedby="emailHelp" autocomplete="off" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Input_Password" class="form-label">Password</label>
                                            <input type="password" name="password" class="form-control" id="Input_Password"
                                                autocomplete="off" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Input_Password_confirm" class="form-label">Confirm Password</label>
                                            <input type="password" name="confirm_pass" class="form-control" id="Input_Password_confirm"
                                                autocomplete="off" required>
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary text-white rounded mb-3" style="width: 100%;">Sign Up
                                        </button>
                                        <span class="btn showLogin py-2 w-100"> Existing User? Login </span>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6 login_bg_img">
                                <a href="#" class="close">&times;</a>
                                <img src="../images/Online Groceries.png" width="100%" alt="signup image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{!-- {{/if}} --}}
    </div>
</header>