
<header>
    <div class="container-fluid bg-success text-white">
        <div class="d-none d-lg-block">
            <nav class="container" aria-label="">
                <div class="row py-2 font-weight-light">
                    <div class="col">
                        <div>
                            <i class="fa fa-phone"></i> Hotline: 123 456 789
                            <span> &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-sign-out"></i> Order status
                            </span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <img src="../Images/India 2.png" alt="UK flag" height="20px" class="ml-auto my-1 mr-2 product_images">
                            <span> English  &nbsp;
                                <span> | </span> &nbsp;
                                <span> INR  </span>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid bg-white px-0">
        <div class="container">
            <div class="row py-4">
                <div class="col mx-auto my-auto">
                    <a href="/"> <img src="../Images/Prime Food.png" width="130" alt="logo"> </a>
                </div>
                <div class="col-4 d-none d-lg-block my-auto">
                    <form method="get">
                        <div class="input-group mt-2">
                            <input type="text" for="browser-input" name="term" id="browser-input" class="form-control rounded-left" placeholder="Search for products..." aria-label="Search for products..." autocomplete="off">
                            <div class="input-group-append">
                                <button class="btn btn-success px-4 rounded-right" onfocus="autocomplete()" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col d-none d-lg-block align-text-bottom">
                    <div class="font-weight-bold text-secondary text-right" style="margin-top: 10px;">
                        {{#if defaultRenderData.user}}
                        <form method="POST" action="/logout">
                            <div class="dropdown">
                                <span style="font-size:30px;cursor:pointer; position:absolute;left:-929px; top:-7px" onclick="openNav()"> &#9776; </span>
                                {{!-- -------- Sidebar Code--------- --}}
                                <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                    <a href="/user" class="text-left p-2 pl-4"> <i class="fa-regular fa-address-card"></i> Profile </a>
                                    <a href="/orders" class="text-left p-2 pl-4"> <i class="fa-solid fa-truck-fast"></i> My Orders </a>
                                    <a href="/wishlist" class="text-left p-2 pl-4"> <i class="fa-solid fa-list-ul"></i> My Wishlist </a>
                                    <a href="/address" class="text-left p-2 pl-4"> <i class="fa-solid fa-location-dot"></i> My Address </a>
                                    <a class="text-left p-2 pl-4">
                                        <button type="submit" class="btn btn-outline-danger" style="font-weight: bold;font-size: 20px;"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout </button>
                                    </a>
                                </div>

                                <span class="dropdown-toggle mr-2" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-angle-down"></i>
                                    Welcome, {{defaultRenderData.user.username}}
                                </span>
                                <div class="dropdown-menu" style="position:fixed;top:87px;left:975px">
                                    <a class="dropdown-item text-secondary" href="/user"> <i class="fa-regular fa-address-card"></i></i> Profile </a>
                                    <a class="dropdown-item text-secondary" href="/orders"> <i class="fa-solid fa-truck-fast"></i> My Orders </a>
                                    <a class="dropdown-item text-secondary" href="/wishlist"> <i class="fa-solid fa-list-ul"></i> My Wishlist </a>
                                    <a class="dropdown-item text-secondary mb-2" href="/address"> <i class="fa-solid fa-location-dot"></i> My Address </a>
                                    <button type="submit" class="btn btn-outline-danger ml-4" style="margin-bottom: 6px;"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout </button>
                                </div>
                                <a href="/cart" class="text-secondary">
                                    <lord-icon src="https://cdn.lordicon.com/udbbfuld.json" trigger="loop-on-hover" delay="200" colors="primary:#28a745" style="width:30px;height:30px;margin-bottom: -10px;">
                                    </lord-icon> 
                                    <sup class="bg-success text-white" style="border-radius: 50%;padding:3px" id="total_cart_value" name="totalQuantity"> 0 </sup>
                                </a>
                            </div>
                        </form>
                        {{else}}
                        <div class="show-login" id="show-login" style="cursor: pointer">
                            <i class="fa fa-user-o"></i> Sign in / Register
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="col d-block d-md-none">
                    <div class="text-secondary font-weight-bold text-right mt-2 ml-auto" id="header_search_size">
                        <i class="fa fa-user-o mr-1"></i>
                        <i class="fa fa-shopping-cart mr-1"></i>
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-lg-flex justify-content-between d-none d-lg-block font-weight-bold">
                <a href="/"> Home </a>
                {{#each Category}}
                <a href="/category/{{slug}}">
                    {{name}}
                </a>
                {{/each}}
                {{!-- <a href="/best-sellers"> Best Sellers </a>
                <span> Fresh produce </span>
                <span> Meat & Seafood </span>
                <span> Dairy, Cheese & Eggs </span>
                <span> Blog </span>
                <span> About Us </span> --}}
            </div>
        </div>
        <hr class="bg-success" id="first_hr_line">
        <div id="loginPopup" class="popup">
            <div class="popup-content rounded text-white">
                <div class="container m-0">
                    <div class="row">
                        <div class="col-md-6 bg-success rounded mx-auto">
                            <form method="post" id="loginForm">
                                <div id="showLogin" class="w-75 mx-auto">
                                    <div class="d-flex mb-3">
                                        <h3 class="mx-auto font-weight-bold mt-4"> Welcome Back </h3>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Input_Email" class="form-label">Email address</label>
                                        <input type="email" name="email" class="form-control" id="Input_Email" placeholder="Enter your email..." aria-describedby="emailHelp" autocomplete="off" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Input_Password" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="Input_Password"
                                            placeholder="Enter your password..." autocomplete="off" required>
                                    </div>
                                    <button type="button" onclick="login()" class="btn btn-light mb-3" style="width: 100%;">Login</button>
                                    <span id="errorSpan" class="error-message bg-danger text-white"></span>
                                    <span class="btn showRegister rounded py-2 w-100"> Haven't signed up yet? Sign Up </span>
                                </div>
                                {{!-- <div id="errorContainer" class="error-container">123</div> --}}
                                {{!-- {{error}} --}}
                            </form>
                
                                {{!-- for Sign Up --}}
                            <form action="/user/signup" method="post" name="myForm" id="myForm" onsubmit="return validateForm();">
                                <div id="showRegister" class="w-75 mx-auto">
                                    <div class="d-flex mb-3">
                                        <h3 class="mx-auto font-weight-bold mt-4"> Hello... </h3>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Input_username" class="form-label"> Username </label>
                                        <input type="text" name="username" class="form-control" id="Input_username" autocomplete="off" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Input_Email" class="form-label">Email address</label>
                                        <input type="email" name="email" class="form-control" id="Input_Email" aria-describedby="emailHelp" autocomplete="off" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Input_Password" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="Input_Password" autocomplete="off" required>
                                        <span id="nameErrMsg" class="error"></span> <br />
                                    </div>
                                    <div class="mb-3">
                                        <label for="Input_Password_confirm" class="form-label">Confirm Password</label>
                                        <input type="password" name="confirm_pass" class="form-control" id="Input_Password_confirm"
                                            autocomplete="off" required>
                                    </div>
                                    <button type="submit" id="validateTestButton" class="btn btn-outline-primary text-white rounded mb-3" onclick="validateForm();" style="width: 100%;">Sign Up
                                    </button>
                                    <span class="btn showLogin py-2 w-100"> Existing User? Login </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 login_bg_img">
                            <a href="#" class="close">&times;</a>
                            <img src="../images/Online Groceries.png" width="100%" alt="signup image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>